.wrapper {
    display: flex;
    justify-content: center;
}
a.inner {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit the color from the parent elements */
    cursor: pointer; /* Show pointer on hover */
  }

.inner {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 4rem;
    line-height: 1;
}

.logo-text {
    text-align: center;
}