<div>
  <app-header></app-header>
  <app-new-card (addStationEvent)="addStation($event)"></app-new-card>

  <div *ngFor="let station of myStations; trackBy: trackByStationId">
    <app-station-card [station]="station" (removeStationEvent)="removeStation(station.id)"
      (transportTypeChanged)="onTransportTypeChanged({ id: station.id, transportType: $event.transportType })"
      (nameFilterChanged)="onNameFilterChanged({ id: station.id, nameFilter: $event.nameFilter })">
    </app-station-card>
  </div>
</div>