.table-responsive {
    overflow-x: auto;
  }
  
  .my-card {
    margin-top: 2rem;
  }
  
  .flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .flex-align {
    display: flex;
    justify-content: space-between; // Align items to the left and right
    align-items: center; // Vertically center align items
    width: 100%; // Ensure it takes full width of the <td>
  }
  
  .transport-emoji {
    margin-left: 8px; // Optional: add some space between text and emoji
  }
  
  .filter-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40%;
  
    div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    label {
      font-weight: bold;
      margin-bottom: 5px;
    }
  
    input,
    select {
      padding: 8px;
      border: 1px solid #d1d1d6;
      border-radius: 5px;
      font-size: 14px;
      outline: none;
    }
  
    input {
      width: 100%;
    }
  
    select {
      width: 100%;
    }
  
    input:focus,
    select:focus {
      border-color: #007aff;
      box-shadow: 0 0 5px rgba(0, 122, 255, 0.5);
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #d1d1d6;
  }
  
  th,
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #d1d1d6;
  }
  
  th {
    background: #f4f4f4;
    color: #1d1d1f;
    border: 1px solid #d1d1d6;
  }
  
  tbody tr:nth-child(even) {
    background: #f9f9f9;
  }
  
  tbody tr {
    border: 1px solid #d1d1d6;
  }
  
  button {
    background: #007aff;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #005bb5;
  }
  
  .status-tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
  }
  
  .status-tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media (max-width: 600px) {
  
    table,
    thead,
    tbody,
    th,
    td,
    tr {
      display: block;
      width: 100%;
    }
  
    thead {
      display: none;
    }
  
    tr {
      margin-bottom: 10px;
      border-bottom: 1px solid #d1d1d6;
    }
  
    td {
      border: none;
      position: relative;
      padding-left: 50%;
      text-align: right;
    }
  
    td::before {
      content: attr(data-label);
      position: absolute;
      left: 5px;
      width: calc(50% - 20px);
      padding-right: 10px;
      text-align: left;
      font-weight: bold;
    }
  
    td:last-child {
      border-bottom: 0;
    }
  
    .tooltip-text {
      left: auto;
      right: 50%;
      transform: translateY(-50%);
      bottom: 50%;
    }
  }